.fonslide {
	width : 100%;
	list-style : none;
	z-index : -2;
	background-repeat : no-repeat;
	background-size : cover;
	}
	#home {
	font : 14px Verdana, Arial, Helvetica, sans-serif;
	color : black;
	}
	.gif {
	background-image : url(../image/gorodgif.gif);
	width : 100%;
	height : 200vh;
	list-style : none;
	z-index : -2;
	background-repeat : no-repeat;
	background-size : cover;
	}
	.artFon {
	background-image : url(../image/fonArt1.jpg);
	width : 100%;
	height : 138vh;
	list-style : none;
	z-index : -2;
	background-repeat : no-repeat;
	background-size : cover;
	}
	.artzoom1:hover{
		zoom:1.5;
	}
	.gallarys {
	background-image : url(../image/fonforgall.gif);
	width : 100%;
	height : 138vh;
	list-style : none;
	z-index : -2;
	background-repeat : no-repeat;
	background-size : cover;
	}
	.video {
	background-image : url(../image/fonArt5.jpg);
	width : 100%;
	height : 175vh;
	list-style : none;
	z-index : -2;
	background-repeat : no-repeat;
	background-size : cover;
	}
	#pVideo {
	border : white solid 5px;
	padding : 5px;
	margin-left : 22%;
	margin-top : 10%;
	width : 500px;
	text-align : center;
	font : 40px "Impact", Times, serif;
	box-shadow : 5px 5px 5px 5px black;
	color : peachpuff;
	font-size : 20px;
	}
	a.aVideo {
	margin-left : 50%;
	margin-top : 50px;
	margin-bottom : 50px;
	font-family : Arial, Helvetica, Verdana, sans-serif;
	}
	.aVideo:link {
	text-decoration : none;
	}
	.aVideo:visited {
	text-decoration : none;
	}
	.aVideo:active {
	text-decoration : none;
	}
	.aVideo:hover {
	font-size : 24px;
	font-weight : bold;
	color : peachpuff;
	border : red solid 3px;
	}
	.art {
	position : relative;
	width : 100%;
	}
	.site-blok {
	margin : 0 10% 0 10%;
	position : absolute;
	top : 0;
	background-color : peachpuff;
	width : 50%;
	box-shadow : -10px 15px 10px 10px black;
	border-radius : 10px 10px 10px 10px;
	}
	.head h1, h2 {
	margin : 80px 0;
	text-align : center;
	font : 40px "Impact", Times, serif;
	color : #fff;
	}
	.site-blok h1 {
	border : white solid 5px;
	padding : 5px;
	text-align : center;
	font : 40px "Impact", Times, serif;
	color : black;
	box-shadow : 5px 5px 5px 5px black;
	}
	.site-blok h2 {
	margin : 40px;
	text-align : center;
	font : 20px "Impact", Times, serif;
	color : mediumseagreen;
	box-shadow : 5px 5px 5px 5px black;
	}
	.site-blok h2 {
	margin : 40px;
	text-align : center;
	font : 20px "Impact", Times, serif;
	color : mediumseagreen;
	box-shadow : 5px 5px 5px 5px black;
	}
	.site-blok h3 {
	text-align : left;
	font : 30px "Impact", Times, serif;
	color : indigo;
	}
	.site-blok img {
	border : chocolate solid 1px;
	box-shadow : 5px 5px 5px 5px black;
	}
	a {
	text-decoration : none;
	}
	.container {
	margin : 0 auto;
	width : 1170px;
	}
	.head span {
	border : chocolate solid 1px;
	padding : 5px;
	margin : 80px 0;
	text-align : left;
	font : 30px "Impact", Times, serif;
	}
	header {
	width : 100%;
	background : peachpuff;
	height : 80px;
	text-align : right;
	border-bottom : 1px solid black;
	box-sizing : border-box;
	}
	header a {
	color : black;
	line-height : 70px;
	margin-left : 40px;
	font-size : 14px;
	text-transform : uppercase;
	text-shadow : 5px 5px 5px black;
	}
	header img {
	width : 80px;
	height : 70px;
	float : left;
	padding-top : 10px;
	}
	header .menu {
	width : 1250px;
	}
	.blok-content {
	background : slategray;
	overflow : hidden;
	padding : 10px 5px 15px 5px;
	border-radius : 10px 10px 10px 10px;
	}
	.blok-left {
	background : black;
	margin : 10px 20px;
	width : 97%;
	float : top;
	margin : 10px;
	background-color : rgb(250, 235, 199);
	padding : 10px 20px;
	border : rgb(252, 101, 18) dotted 1px;
	border-top : 20px solid indigo;
	border-radius : 10px;
	box-shadow : 5px 5px 10px rgb(0, 0, 0, 0.5);
	box-sizing : border-box;
	}
	.bl {
	background-image : url(../image/fonforgall.gif);
	width : 100%;
	height : 40vh;
	list-style : none;
	z-index : -2;
	background-repeat : no-repeat;
	background-size : cover;
	}
	.site-blok2 h3 {
	text-align : left;
	font : 20px "Impact", Times, serif;
	color : indigo;
	}
	.blok-left2 {
	height : 100%;
	background : black;
	margin : 10px 20px;
	float : top;
	margin : 10px;
	background-color : rgb(250, 235, 199);
	padding : 10px 20px;
	border : rgb(252, 101, 18) dotted 1px;
	border-top : 20px solid indigo;
	border-radius : 10px;
	box-shadow : 5px 5px 10px rgb(0, 0, 0, 0.5);
	box-sizing : border-box;
	}
	.site-blok2 h1 {
	border : white solid 5px;
	padding : 5px;
	text-align : center;
	font : 40px "Impact", Times, serif;
	color : black;
	box-shadow : 5px 5px 5px 5px black;
	}
	.site-blok2 {
	margin-top : 90px;
	position : relative;
	float : left;
	top : 0;
	background-color : peachpuff;
	width : 100%;
	height : 275px;
	box-shadow : -10px 15px 10px 10px black;
	border-radius : 10px 10px 10px 10px;
	}
	.site-blok2 img {
	border : chocolate solid 1px;
	box-shadow : 5px 5px 5px 5px black;
	}
	.blok-right {
	width : 200px;
	float : right;
	margin : 10px;
	background-color : rgb(250, 235, 199);
	padding : 10px 20px;
	border : rgb(252, 101, 18) dotted 1px;
	border-top : 20px solid indigo;
	border-radius : 10px;
	box-shadow : 5px 5px 10px rgb(0, 0, 0, 0.5);
	position : fixed;
	right : 20px;
	top : 50%;
	margin-top : -70px;
	z-index : 1;
	min-width : 110px;
	text-align : center;
	box-sizing : border-box;
	}
	#blokMenu {
	width : 240px;
	height : auto;
	box-sizing : border-box;
	}
	#blokMenu ul {
	width : 200px;
	height : auto;
	margin : 0;
	padding : 0;
	list-style : none;
	position : relative;
	}
	#blokMenu ul li {
	display : block;
	width : 100%;
	height : auto;
	position : relative;
	}
	#blokMenu ul li a {
	position : relative;
	display : block;
	width : 200px;
	height : auto;
	box-sizing : border-box;
	font-size : 13px;
	text-transform : uppercase;
	font-weight : bold;
	color : peachpuff;
	line-height : 1.2em;
	padding : 10px 15px;
	background : coral;
	text-decoration : none;
	}
	#blokMenu ul > li:first-child > a {
	border : 0;
	}
	#blokMenu ul li a:hover, #blokMenu ul li:hover a {
	background : rgb(101, 5, 131);
	color : rgb(227, 252, 1);
	transition : 0.5s;
	}
	#blokMenu ul li ul {
	position : absolute;
	top : 0;
	right : 100%;
	display : none;
	width : 150px;
	}
	#blokMenu ul li:hover > ul {
	display : block;
	}
	#blokMenu ul li ul li a {
	text-transform : none;
	padding : 5px 20px;
	transition : 0.5s;
	}
	#blokMenu ul li ul li a:hover, #blokMenu ul li ul li:hover > a {
	background : rgb(247, 177, 72);
	color : rgb(243, 10, 80);
	}
	.table {
	background-image : url(../image/fonforgall.gif);
	width : 100%;
	height : 100vh;
	list-style : none;
	z-index : -2;
	background-repeat : no-repeat;
	background-size : cover;
	}
	.table p {
	color : white;
	height : 250px;
	width : 50%;
	}
	#z {
	font : 40px "Impact", Times, serif;
	}
	.tables1 {
	width : 80%;
	margin : 15% 15% 0 15%;
	border : black solid 2px;
	border-radius : 5px;
	border-collapse : collapse;
	padding-top : 0;
	}
	.tables1 td {
	border : black solid 1px;
	text-align : center;
	vertical-align : top;
	padding : 0 0.1cm;
	background-color : pink;
	border-radius : 5px;
	}
	.g {
	color : purple;
	}
	.m {
	color : blue;
	}
	.tabz {
	color : black;
	}
	footer {
	text-align : center;
	height : 222px;
	background-color : peachpuff;
	width : 100%;
	flex : 0 0 auto;
	padding-bottom : 20px;
	padding-top : 30px;
	}
	footer img {
	border-radius : 20px;
	}
	footer a {
	margin-top : 15px;
	display : inline-block;
	width : 20%;
	color : black;
	}
	@media screen and (max-width: 480px) {

		header img{
		
		display: none;
		
		}
		
		header a {
		
		font-size: 12px;
		
		margin-left: 5px;
		
		margin-right: 20px;
		
		}
		
		header .container{
		
		width: 100%;
		
		}
		
		.container{
		
		align-items: center;
		
		width: 100%;
		
		}
		
		.flex{
		
		display: flex;
		
		flex-direction: column;
		
		justify-content: center;
		
		}
		
		.blok-right{
		
		display: block;
		
		position: relative;
		
		margin-bottom: 30px;
		
		}
		
		.text{
		
		height: 100%;
		
		}
		
		}
		
		@media screen and (min-width: 2560px) {
		
		header a{
		
		font-size: 36px;
		
		}
		
		.text{
		
		font-size: 45px;
		
		height: 100%;
		
		}
		
	}